.cart {
  margin-top: 4rem;
  color: $primary-color;
  .cart__list {
    display: table;
    table-layout: auto;
    border-spacing: 0 30px;
    width: 100%;
    .cart__head {
      display: table-header-group;
      .cart__heading {
        display: table-cell;
        border-bottom: 1px solid #ccc;
        padding-bottom: 1rem;
      }
    }
    .cart__item {
      display: table-row;
      margin: 30px 0;
      .cart__image {
        display: table-cell;
        vertical-align: middle;
        max-width: 80px;

        img {
          width: 100%;
          height: auto;
        }
      }
      .cart__info {
        display: table-cell;
        vertical-align: middle;
        max-width: 425px;
        width: 425px;
        padding-left: 15px;
        .cart__title {
          font-size: 18px;
          a {
            color: $primary-color;
          }
        }
        .cart__meta {
          .cart__varian {
            font-size: 14px;
          }
          .cart__price {
            font-size: 13px;
            padding-top: 10px;
          }
        }
      }
      .cart__actions {
        display: table-cell;
        vertical-align: middle;
        .cart__quantity--selector {
          border: 1px solid #ccc;
          display: inline-flex;
          margin: 0.8rem 0;
          .quantity-button {
            padding: 3px 9px;
            cursor: pointer;
            i {
              font-size: 16px;
            }
          }
          input {
            width: 20px;
            text-align: center;
            color: $primary-color;
          }
        }
      }
      .cart__line--price {
        display: table-cell;
        vertical-align: middle;
        .price {
          font-size: 13px;
        }
        .cart__remove {
          margin-left: 3rem;
          font-size: 24px;
          cursor: pointer;
          display: inline-block;
        }
      }
    }
  }
  .cart__footer {
    padding-top: 1.5rem;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .cart__note--container {
      display: flex;
      flex-direction: column;
      width: 40%;
      .cart__note {
        margin-top: 1rem;
        font-size: 14px;
        border: 1px solid #ccc;
        height: 43px;
        padding: 10px;
        overflow: auto;
      }
    }
    .cart__recap {
      p {
        margin-bottom: 0;
        text-align: end;
      }
      .cart__total {
        .total-price {
          padding: 10px 0;
          letter-spacing: 2px;
        }
      }
    }
  }
}
