.button {
  background-color: $primary-color;
  font-size: 13px;
  text-transform: uppercase;
  display: inline-block;
  color: $white-color;
  padding: 0.7rem 1rem;
  letter-spacing: 2px;
  margin-top: 2rem;
  text-align: center;
}
