.product-list--section {
  .title {
    text-align: center;
    padding-bottom: 2rem;
  }
  .product__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    @media (max-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    a {
      color: $text-color;
    }
  }
  .view-all-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
